UPDATE public.page_metadata SET meta_description = 'Shop the best tobacco-free nicotine pouches from top brands like ZYN, VELO, and LYFT. Fast shipping across Italy.', title = 'Pouchesitaly - Premium Nicotine Pouches' WHERE page_path = '/' AND language = 'en';
UPDATE public.page_metadata SET title = 'Premium Nicotine Brands | Pouchesitaly' WHERE page_path = '/premium-brands' AND language = 'en';
UPDATE public.page_metadata SET meta_description = 'Fast and reliable shipping across Italy. Learn about our delivery times and shipping policies.', title = 'Shipping Information | Pouchesitaly' WHERE page_path = '/shipping-info' AND language = 'en';
UPDATE public.page_metadata SET title = 'Why Choose Pouchesitaly' WHERE page_path = '/why-choose-us' AND language = 'en';
UPDATE public.page_metadata SET title = 'Nicotine Strengths Guide | Pouchesitaly' WHERE page_path = '/strengths-guide' AND language = 'en';
UPDATE public.page_metadata SET title = 'Tobacco-Free Products | Pouchesitaly' WHERE page_path = '/tobacco-free' AND language = 'en';
UPDATE public.page_metadata SET title = 'Frequently Asked Questions | Pouchesitaly' WHERE page_path = '/faq' AND language = 'en';

UPDATE public.page_metadata SET title = 'Pouchesitaly - Bustine di Nicotina Premium' WHERE page_path = '/' AND language = 'it';
UPDATE public.page_metadata SET title = 'Marchi di Snus | Pouchesitaly' WHERE page_path = '/snus-brands' AND language = 'it';
UPDATE public.page_metadata SET title = 'Cos''è lo Snus | Pouchesitaly' WHERE page_path = '/snus-cose' AND language = 'it';
UPDATE public.page_metadata SET title = 'Spedizione Snus in Italia | Pouchesitaly' WHERE page_path = '/spedizione-snus' AND language = 'it';
UPDATE public.page_metadata SET title = 'Perché Scegliere Pouchesitaly' WHERE page_path = '/perche-scegliere-nicoxpress' AND language = 'it';
UPDATE public.page_metadata SET title = 'Guida Intensità e Gusti | Pouchesitaly' WHERE page_path = '/guida-intensita-gusti' AND language = 'it';
UPDATE public.page_metadata SET title = 'Snus vs Nicotine Pouches | Pouchesitaly' WHERE page_path = '/snus-vs-nicotine-pouches' AND language = 'it';
UPDATE public.page_metadata SET title = 'Domande Frequenti sullo Snus | Pouchesitaly' WHERE page_path = '/domande-frequenti-snus' AND language = 'it';
